.nav{
    margin: 0;
    padding:0 20px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    background-color: bisque;
    color: brown;
    font-size: 1.2em;
    list-style-type: none;    
}

.nav-menu{
    list-style-type: none;    
    display: flex;
    justify-content:center;
}

.nav-menu li{
    padding: 15px;
}

.nav-menu li a{
    text-decoration:none;
    color:brown;
}

.nav-menu li a:hover{
    color:rgb(205, 100, 100);
}

.nav-logo{
    align-self:center;
    height: 80px;
    border-radius: 8px;
}

.active{
    color:white;
    font-weight:700;
}

@media only screen and (max-width: 600px){
    .nav{
        flex-direction:column;
        padding: 10px 0;
        margin:0;
    }

    .nav-menu{
        flex-direction:column;
        padding: 0.1rem 0 0 0;
        margin-bottom: 0;
    }


    .nav-menu li{
        padding: 0.4em 0;
    }

}